<h1>One Way Databinding</h1>

<label>Enter Name: </label>
<input type="text" [(ngModel)]="uname" />
<!-- <input type="text" [value]="uname" #iname (keyup)="but(iname.value)" /> -->
<!-- <br>
<br>
<hr>
<br>-->
{{uname}}
<!-- <button (click)="but()">Change</button> -->

<!-- <h3 [style.color]="ucolor">Interpolation</h3>
<div>{{uname}}</div>

<h3 [style.background]="'yellow'">Property Binding</h3>
<div [innerHTML]="uname"></div> -->

<!-- <p class="a">Hello</p>
<p class="b">Hello</p>
<p class="c">Hello</p>
<p class="d">Hello</p> -->

<!-- <h1 [class]="apply">Hello</h1> -->